.rating {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 10px;
}

.stars {
  width: 25px;
  height: 25px;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .rating {
    align-items: center;
  }
  .stars {
    width: 18px;
    height: 18px;
  }
}
