.galleryCard {
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  color: white;
  text-decoration: none;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .galleryCard {
    aspect-ratio: auto;
    max-width: 330px;
    width: 100%;
    max-height: 938px;
    height: 255px;
    font-size: 18px;
  }
}
