.notFound {
  color: #ff6060;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notFoundTitle {
  font-size: 288px;
  font-weight: 700;
}
.notFoundSubTitle {
  font-size: 36px;
}
.notFoundButton {
  display: flex;
  justify-content: center;
  color: #ff6060;
  text-decoration: underline;
  margin: 180px 0 100px 0;
}

@media screen and (max-width: 768px) {
  .notFound {
    text-align: center;
    margin-top: 100px;
  }
  .notFoundTitle {
    font-size: 96px;
  }
  .notFoundSubTitle {
    font-size: 18px;
  }
  .notFoundButton {
    font-size: 18px;
    margin: 120px 0 100px 0;
  }
}
