.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 68px;
  margin-top: 40px;
}
.headerRight {
  display: flex;
  gap: 57px;
  align-items: center;
}
.headerRight > * {
  font-size: 24px;
  color: #ff6060;
  text-decoration: none;
}
.logo {
  height: 68px;
}
.active {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .header {
    margin-top: 0px;
  }
  .headerRight {
    gap: 20px;
  }
  .headerRight > * {
    font-size: 12px;
    text-transform: uppercase;
  }
  .headerLeft {
    align-self: center;
  }
  .logo {
    width: 145px;
    height: 47px;
  }
}
